Repository hrivera88/campfyr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "client/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "api/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Moved accepting invitations to its own form component
  client/src/components/forms/AcceptInviteForm.tsx
Due: eslint --fix, prettier --write

Simplified AcceptInvite component to utilize AuthPageLayout and AcceptInviteForm
  client/src/pages/auth/AcceptInvite.tsx
Due: eslint --fix, prettier --write

Restore WebSocket transport with polling fallback and simplify connection logic
  client/src/lib/socket.ts
Due: eslint --fix, prettier --write

Clean up socket debugging code and fix connection reliability issues
  api/src/socket.ts
  client/src/hooks/useChatSocket.ts
  client/src/hooks/useSocket.ts
Due: eslint --fix, prettier --write

Added window global socket as a fallback
  client/src/components/chat/ChatWindow.tsx
Due: eslint --fix, prettier --write

Tiny CSS tweaks
  client/src/components/chat/RoomListItem.tsx
Due: eslint --fix, prettier --write

Updated app logo
  client/src/layouts/AuthPageLayout.tsx
Due: eslint --fix, prettier --write

Updated App name
  docker-compose.yml
Due: prettier --write

Fix useChatSocket tests after socket timing refactor
  client/src/hooks/__tests__/useChatSocket.test.ts
Due: eslint --fix, prettier --write

Add fallback initials to message list avatars
  client/src/components/chat/MessageList.tsx
Due: eslint --fix, prettier --write

Remove unused reconnectAttempts variable from socket.ts
  api/.env.development
  api/.env.test
  client/src/lib/socket.ts
Due: eslint --fix, prettier --write

Remove unused reconnectAttempts variable from socket.ts
  client/src/lib/socket.ts
Due: eslint --fix, prettier --write

Remove sensitive .env files from repository
  api/.env.development
  api/.env.test
Due: none

Updated git ignore file
  .gitignore
Due: none
