Repository hrivera88/campfyr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "client/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "api/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Added extra folder to be ignored
  .gitignore
Due: none

added github actions workflow
  .github/workflows/ci.yml
Due: prettier --write

changed cloud graphic
  client/src/layouts/AuthPageLayout.tsx
Due: eslint --fix, prettier --write

Fix CI workflow for Node.js 20 and workspace structure
  .github/workflows/ci.yml
Due: prettier --write

Regenerate package-lock.json for workspace sync
  package-lock.json
Due: prettier --write

Add CLAUDE.md to .gitignore
  .gitignore
Due: none

Fix backend test database connection in CI
  .github/workflows/ci.yml
  api/tests/setup.ts
Due: eslint --fix, prettier --write

Fix Prisma client initialization for CI environment
  api/tests/rooms/security.test.ts
  api/tests/setup.ts
  api/vitest.config.ts
Due: eslint --fix, prettier --write

Fix ESLint configuration resolution in CI
  .github/workflows/ci.yml
Due: prettier --write

Add workspace-level dependency installation for CI
  .github/workflows/ci.yml
Due: prettier --write

Skip husky git hooks installation in CI environment
  .github/workflows/ci.yml
Due: prettier --write

Use is-ci to conditionally skip husky in CI environment
  package-lock.json
  package.json
Due: prettier --write

Simplify CI environment detection for husky
  package-lock.json
  package.json
Due: prettier --write

Fix cursor-based pagination overlap issue
  api/src/routes/rooms.ts
  api/src/utils/paginate.ts
Due: eslint --fix, prettier --write

Use workspace commands for linting and builds in CI
  .github/workflows/ci.yml
Due: prettier --write

Temporarily disable ESLint in CI to unblock pipeline
  .github/workflows/ci.yml
Due: prettier --write

Fix TypeScript error in pagination orderBy type
  api/src/utils/paginate.ts
Due: eslint --fix, prettier --write

Fix LightningCSS native dependency issues in CI
  .github/workflows/ci.yml
  client/vite.config.ts
Due: eslint --fix, prettier --write

Create conditional PostCSS config to bypass LightningCSS in CI
  client/postcss.config.js
  client/vite.config.ts
Due: eslint --fix, prettier --write

Fix localStorage error handling in Redux slices
  client/src/store/slice/chatRoomSlice.ts
  client/src/store/slice/conversationSlice.ts
Due: eslint --fix, prettier --write

Remove complex axios interceptor tests to unblock CI builds
  client/src/services/__tests__/axios.test.ts
Due: eslint --fix, prettier --write

Fix CI test failures for PostCSS and environment variables
  client/postcss.config.cjs
  client/src/utils/__tests__/auth-tokens.test.ts
Due: eslint --fix, prettier --write

Fix environment variable handling in auth-tokens tests
  client/src/utils/__tests__/auth-tokens.test.ts
  client/vite.config.ts
Due: eslint --fix, prettier --write

Remove problematic baseURL assertions from auth-tokens tests
  client/src/utils/__tests__/auth-tokens.test.ts
  client/vite.config.ts
Due: eslint --fix, prettier --write

Fix CI build failures by cleaning up TypeScript errors
  client/src/components/chat/EmojiPickerButton.tsx
  client/src/components/chat/MessageInput.tsx
  client/src/components/chat/UploadFileButton.tsx
  client/src/components/dialogs/CreateRoomDialog.tsx
  client/src/components/graphics/AnimatedCloud.tsx
  client/src/components/media/MediaGalleryModal.tsx
  client/src/components/navigation/MobileNavigation.tsx
  client/src/components/tables/InvitationsTable.tsx
  client/src/components/tables/UsersTable.tsx
  client/src/hooks/useChatSocket.ts
  client/src/pages/app/organization.tsx
  client/src/pages/app/user.tsx
  client/src/services/webrtc.ts
  client/tsconfig.app.json
Due: eslint --fix, prettier --write

Add .claude directory to gitignore
  .gitignore
Due: none

Removed .claude settings folder
  .gitignore
Due: none

Changes: - Updated colors
  client/src/components/chat/ChatSidebar.tsx
  client/src/components/chat/EmojiPickerButton.tsx
  client/src/components/chat/RecordVoiceButton.tsx
  client/src/components/chat/RoomListItem.tsx
  client/src/components/chat/UploadFileButton.tsx
  client/src/components/dialogs/CreateRoomDialog.tsx
  client/src/components/dialogs/SendInvitationDialog.tsx
  client/src/components/dialogs/StartConversationDialog.tsx
  client/src/components/dialogs/UserDetailsDialog.tsx
  client/src/components/forms/UserProfileForm.tsx
  client/src/components/navigation/TopBar.tsx
  client/src/layouts/app-layout.tsx
  client/src/theme/muiTheme.ts
Due: eslint --fix, prettier --write

Changes: - Added new logo
  client/public/campfire-logo.svg
  client/public/campfyr-logo.svg
Due: none

Changes: - Added new logo as Favicon
  client/android-chrome-192x192.png
  client/android-chrome-512x512.png
  client/apple-touch-icon.png
  client/favicon-16x16.png
  client/favicon-32x32.png
  client/favicon.ico
  client/favicon.png
  client/index.html
  client/site.webmanifest
Due: none

Client socket listens and handles user joining and leaving chat rooms
  client/src/hooks/useChatSocket.ts
Due: eslint --fix, prettier --write

Set user isOnline flag to true after logging in instead of chat room joining.
  api/src/routes/auth.ts
Due: eslint --fix, prettier --write

Set user isOnline flag to true after logging in instead of chat room joining.
  api/.env.development
  api/.env.test
  api/src/routes/auth.ts
Due: eslint --fix, prettier --write

Updated AuthPageLayout copy
  client/src/pages/auth/Register.tsx
Due: eslint --fix, prettier --write

Updated AuthPageLayout copy
  client/src/pages/auth/Login.tsx
Due: eslint --fix, prettier --write

Moved accepting invitations to its own form component
  client/src/components/forms/AcceptInviteForm.tsx
Due: eslint --fix, prettier --write
